@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .card1 {
        max-height: 100%;
    }

    .card-body-foto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .upload-form {
        margin-top: 10px;
    }
</style>


<div class="row">
    <div class="col-md-2 grid-margin stretch-card">
        <div class="card1">
            <div class="card-body-foto">
                <img src="~/828px-User_icon-cp.svg.png" alt="Deskripsi Foto" class="img-fluid">
            </div>
            <form class="upload-form">
                <div class="form-group">
                    <label for="uploadImage">Upload Image</label>
                    <input type="file" class="form-control-file" id="uploadImage" name="uploadImage">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form karyawan</h4>
                <p class="card-description"> pastiakan sudah mengisi form dengan benar !</p>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">NIK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nik" name="nik" placeholder="NIK">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">NIK KTP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nik" name="nik" placeholder="NIK">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">NAMA</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="NAMA">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">KELAMIN</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="kelamin" name="kelamin">
                                <option value="" disabled selected>Pilih kelamin</option>
                                <option value="Laki laki">Laki laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">TANGGAL LAHIR</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir" placeholder="Tanggal lahir">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tempat lahir</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="tempat_lahir" name="tempat_lahir" placeholder="Tempat lahir">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Alamat</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="alamat" name="alamat" placeholder="Alamat">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">AGAMA</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="agama" name="agama">
                                <option value="" disabled selected>Pilih jabatan</option>
                                <option value="islam">islam</option>
                                <option value="kristen">kristen</option>
                                <option value="katolik">katolik</option>
                                <option value="hindu">hindu</option>
                                <option value="budha">budaha</option>
                                <option value="konghucu">konghucu</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nomor Telfon</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="telfon" name="telfon" placeholder="Nomor telfon">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nomor Emergency</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="emergency" name="emergency" placeholder="Nomor Emergency">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form karyawan</h4>
                <p class="card-description"> pastiakan sudah mengisi form dengan benar !</p>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">DEPARTEMEN</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="dept" name="dept">
                                <option value="" disabled selected>Pilih Departemen</option>
                                <option value="nama1">Nama 1</option>
                                <option value="nama2">Nama 2</option>
                                <option value="nama3">Nama 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">JABATAN</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="jabatan" name="jabatan">
                                <option value="" disabled selected>Pilih jabatan</option>
                                <option value="nama1">Nama 1</option>
                                <option value="nama2">Nama 2</option>
                                <option value="nama3">Nama 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Alamat Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Perusahaan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="perusahaan" name="perusahaan" placeholder="perusahaan">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Grade</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="grade" name="grade" placeholder="grade">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pendidikan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="pendidikan" name="Pendidikan" placeholder="pendidikan">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pendidikan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ob" name="Pendidikan" placeholder="pendidikan">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tanggal POH</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="poh" name="poh" placeholder="POH">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">OB</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="ob" name="ob" placeholder="OB">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>