
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DATA KARYAWAN</h6>
    </div>
    <div class="card-body">
        <form id="formBS">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label for="nrp" class="col-sm-3 col-form-label">NIK</label>
                        <div class="col-sm-9">

                            <input type="text" class="form-control" id="nik" name="nik" placeholder="NIK" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nrp" class="col-sm-3 col-form-label">NAMA</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="NRP" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nama" class="col-sm-3 col-form-label">DEPARTEMEN</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dept" name="dept" placeholder="Departemen" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nama" class="col-sm-3 col-form-label">JABATAN</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="jabatan" name="jabatan" placeholder="JABATAN" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nama" class="col-sm-3 col-form-label">ROSTER KE</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="created_by" name="roster_ke" placeholder="Roster ke" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label for="jabatan_id" class="col-sm-3 col-form-label">TANGGA AWAL ROSTER</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="awal_roster" name="awal_roster" placeholder="AWAL ROSTER" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dept_code" class="col-sm-3 col-form-label">TANGGAL AKHIR ROSTER</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="akhir_roster" name="akhir_roster" placeholder="AKHIR ROSTER" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">HISTORY ROSTER</h6>
    </div>
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" onclick="redirectToReport()">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report All
            </a>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="tableHistory" cellspacing="0">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>NIK</th>
                        <th>NAMA</th>
                        <th>DEPARTEMEN</th>
                        <th>JABATAN</th>
                        <th>AWAL ROSTER</th>
                        <th>AKHIR ROSTER</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal Add/Update -->
<div class="modal fade modalBS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Data Karyawan Need Follow UP</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" id="tableBS" cellspacing="0">
                        <thead>
                            <tr>
                                <th>NRP</th>
                                <th>NAMA</th>
                                <th>TANGGAL AWAL</th>
                                <th>TANGGAL AKHIR</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>|

