@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Form Karyawan</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li>User Interface</li>
                    <li>Forms</li>
                    <li><a href="">Components</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Input Biodata Karyawan</h2>
            </div>

            <form action="page_forms_components.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">NIK</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="NIK">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">NIK KTP</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="NIK KTP">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">NAMA</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="NAMA">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">TEMPAT LAHIR</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="TEMPAT LAHIR">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-datepicker">TANGGAL LAHIR</label>
                    <div class="col-md-6">
                        <input type="text" id="example-datepicker2" name="example-datepicker2" class="form-control input-datepicker" data-date-format="dd/mm/yy" placeholder="dd/mm/yy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">ALAMAT</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="ALAMAT">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-select">AGAMA</label>
                    <div class="col-md-6">
                        <select id="agama" name="agama" class="form-control" size="1">
                            <option value="-">Please select</option>
                            <option value="ISLAM">ISLAM</option>
                            <option value="KRISTEN">KRISTEN</option>
                            <option value="HINDU">HINDU</option>
                            <option value="BUDHA">BUDHA</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-select">STATUS</label>
                    <div class="col-md-6">
                        <select id="status" name="status" class="form-control" size="1">
                            <option value="-">Please select</option>
                            <option value="S/0">S/0</option>
                            <option value="M/0">M/0</option>
                            <option value="M/1">M/1</option>
                            <option value="M/2">M/2</option>
                            <option value="M/3">M/3</option>
                            <option value="M/4">M/4</option>
                            <option value="M/5">M/5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">KACAMATA</label>
                    <div class="col-md-6">
                        <label class="switch switch-primary"><input type="checkbox" checked><span></span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Input Biodata Pendidikan</h2>
            </div>

            <form action="page_forms_components.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">Pendidikan</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="PENDIDIKAN">
                    </div>
                </div>
            </form>
        </div>
        <div class="block">
            <div class="block-title">
                <h2>Input Digital</h2>
            </div>

            <form action="page_forms_components.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">Telefon</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="No Telefon">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">Email</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="email">
                    </div>
                </div>
            </form>
        </div>
        <div class="block">
            <div class="block-title">
                <h2>Input Data Pekerjaan</h2>
            </div>
            <form action="page_forms_components.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">JABATAN</label>
                    <div class="col-md-6">
                        <input type="text" id="state-normal" name="state-normal" class="form-control" placeholder="jabatan">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">DEPARTEMEN</label>
                    <div class="col-md-6">
                        <input type="text" id="departemen" name="departemen" class="form-control" placeholder="departemen">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">PERUSAHAAN</label>
                    <div class="col-md-6">
                        <input type="text" id="perusahaan" name="perusahaan" class="form-control" placeholder="perusahaan">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="state-normal">POH</label>
                    <div class="col-md-6">
                        <input type="text" id="perusahaan" name="perusahaan" class="form-control" placeholder="perusahaan">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-datepicker">TANGGAL MASUK</label>
                    <div class="col-md-6">
                        <input type="text" id="example-datepicker2" name="example-datepicker2" class="form-control input-datepicker" data-date-format="dd/mm/yy" placeholder="dd/mm/yy">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


